*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 1440px;
    border: 1px solid;
}



@media only screen and (max-width:375px) {
    .container{
        width: 375px;
    }
}